html, body { height: 100%; width: 100%; margin: 0; }

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    font-size: 62.5%;
    background: #000 url('img/bg_pattern.png');
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: Tahoma, Arial, sans-serif;
}

header { width: 100%; height: 80px; padding-top: 30px; padding-left: 5em; /*background: rgb(0, 0, 0); The Fallback */background-color:rgba(0,0,0,0.25); border-bottom: 1px solid rgba(255,255,255,0.1); }

header a { display: inline-block; float: left;}
header a.back { width: 50px; height: 50px; background: url('img/back_button.png'); margin: 1.5em 2em 0 0; }
header a.back:hover { background-position: 0 -50px; }
header a.back:active { background-position: 0 -100px; }

header h1 { display: inline-block;  font-family: 'BebasNeueRegular'; font-size: 3.4em; color: #FFF; margin: .9em 0 0 1em; padding-left: .2em; float: left; }
header h1::before { content: url('img/sprite_universes.png'); margin-right: .2em; }

/****
    HOME
**/

#head_home { padding-left:0px; }
#head_home img { display:block; margin:0 auto; }

#choice {margin:0 auto; margin-top:4%; width:520px; height:520px;}
#choice ul li {width:250px;height:250px;margin:5px;float:left;}
#choice ul li a {width:250px;height:250px;display:block; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
#choice ul li a:hover {outline: rgba(127, 127, 127, .5) solid 2px;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
#choice ul li a:active{outline: rgba(127, 127, 127, .5) solid 2px;-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none;}
#choice ul li:nth-of-type(2) a {background: url('img/univ_montagne.png') no-repeat;} 
#choice ul li:nth-of-type(3) a {background: url('img/univ_mer.png') no-repeat;} 
#choice ul li:nth-of-type(4) a {background: url('img/univ_urbain.png') no-repeat;} 

#choice ul li:nth-of-type(2) a:hover {background: url('img/univ_montagne_hover.png') no-repeat;} 
#choice ul li:nth-of-type(3) a:hover {background: url('img/univ_mer_hover.png') no-repeat;} 
#choice ul li:nth-of-type(4) a:hover {background: url('img/univ_urbain_hover.png') no-repeat;} 

#choice ul li p {
    font-family: 'BebasNeueRegular';
    background-color:white;
    font-size:7.15em;
    padding:8px 15px 0px 15px;
    margin-bottom:10px;
    line-height:68px;
    height:68px;
    }
    
#choice ul li p:nth-of-type(1){display:table;}
#choice ul li p:nth-of-type(2){display:table;}
#choice ul li p:nth-of-type(3){height:70px;line-height:70px;}
/****
    HUB MENU
**/

header nav { float: left; margin-left: 3em; margin-top: 1.5em; }
header nav ul li { float: left; }
header nav ul li:nth-of-type(6) { position:absolute; right: 2em; }
header nav a { width: 50px; height: 50px; margin-left: 1em; background: url('img/sprite_global.png') no-repeat; }
header nav ul li:nth-of-type(2) a { background-position: 0 -50px; }
header nav ul li:nth-of-type(3) a { background-position: 0 -100px; }
header nav ul li:nth-of-type(4) a { background-position: 0 -150px; }
header nav ul li:nth-of-type(5) a { background-position: 0 -200px; }
header nav ul li:nth-of-type(6) a { background-position: 0 -300px; }
/* --- Hover Menu --- */
header nav a:hover { background-position: -50px 0px; }
header nav ul li:nth-of-type(2) a:hover { background-position: -50px -50px; }
header nav ul li:nth-of-type(3) a:hover { background-position: -50px -100px; }
header nav ul li:nth-of-type(4) a:hover { background-position: -50px -150px; }
header nav ul li:nth-of-type(5) a:hover { background-position: -50px -200px; }
header nav ul li:nth-of-type(6) a:hover { background-position: -50px -300px; }
/* --- Active Menu --- */
header nav a:active { background-position: -100px 0px; }
header nav ul li:nth-of-type(2) a:active { background-position: -100px -50px; }
header nav ul li:nth-of-type(3) a:active { background-position: -100px -100px; }
header nav ul li:nth-of-type(4) a:active { background-position: -100px -150px; }
header nav ul li:nth-of-type(5) a:active { background-position: -100px -200px; }
header nav ul li:nth-of-type(6) a:active, header nav ul li:nth-of-type(6) a.active { background-position: -100px -300px; }

#search_area { width: 250px; height: 100%; background-color:rgba(0,0,0,0.9); position: absolute; bottom: -131px; right: -250px; z-index: 2; padding: 1em 0; -webkit-transform: translate(250px, 0px); -webkit-transition:all .2s ease-in-out .1s; }
#search_area.visible { -webkit-transform:translate(-250px, 0px);-webkit-transition:all .2s ease-in-out .1s; }
#search_area label { display: block; color: #FFF; font-size: 1.2em; margin-left: .5em; margin-bottom: .5em; }
#search_area input[type="text"] { width: 190px; height: 18px; border: 1px solid #FFF; padding: 5px; float: left; margin-left: .5em; }
#search_area input[type="submit"] { width: 30px; height: 30px; background: #000; border: 1px solid #FFF; color: #FFF; text-align: center; padding: 0; font-size: 1.2em; cursor: pointer; }
#search_area ul { display: block; width: 100%; height: 100%; margin-top: 2em; }
#search_area ul li { display: block; height: 25px; padding: .5em; margin-bottom: 1px; }
#search_area ul li a { display: block; width: 100%; line-height: 25px; color: #FFF; font-size: 1.6em; text-decoration: none; }
#search_area ul li:hover, #search_area ul li.selected { background: #191919; }
#search_area ul li a span { display: block; width: 25px; height: 25px; margin-right: .5em; background: url('img/sprite_global.png') no-repeat; background-position: -150px -50px; float: left; }
#search_area ul li:nth-of-type(2) a span { background-position: -150px -100px; }
#search_area ul li:nth-of-type(3) a span { background-position: -150px -150px; }
#search_area ul li:nth-of-type(4) a span { background-position: -150px -200px; }
#search_area ul li.selected a span { background-position: -150px -75px; }
#search_area ul li:nth-of-type(2).selected a span { background-position: -150px -125px; }
#search_area ul li:nth-of-type(3).selected a span { background-position: -150px -175px; }
#search_area ul li:nth-of-type(4).selected a span { background-position: -150px -225px; }

/****
    HUB CONTENT
**/

#scrollbar1 { width: 97%; padding-left: 5em; clear: both; margin: 2em 0 0 0; }
#scrollbar1 .viewport { width: 100%; height: 630px; overflow: hidden; position: relative; }
#scrollbar1 .overview { color:white; width: 4500px; height: 100%; list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: fixed; bottom:4px; float: right; width: 15px; z-index:100;}
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }

#scrollbar2 { width: 200px; clear: both; margin: 20px 0 10px; float:right;}
#scrollbar2 .viewport { width: 100%; height: 200px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar2 .thumb .end,
#scrollbar2 .thumb { background-color: #003D5D; }
#scrollbar2 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar2 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar2 .disable{ display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.category h2 a, .category_video h2 a { display: table; font-family: 'BebasNeueRegular'; font-size: 4.8em; color: #FFF; margin: 0 0 0 .3rem; text-decoration: none; }
.category:nth-of-type(2) h2 a { color: #00aeff; }
.category:nth-of-type(3) h2 a { color: #e72727; }
.category:nth-of-type(4) h2 a { color: #00a651; }
.category:nth-of-type(5) h2 a { color: #ff7e00; }

.category { width: 850px; float: left; }
.category_video { width: 100%; }
.overview ul { width: 100%; float: left; }
.category_video ul { width: auto; }
.overview li { position: relative; overflow: hidden; }
.overview ul li a { display: block; height: 100%; position: relative; }
.overview ul li:hover { outline: rgba(127, 127, 127, .5) solid 2px; }
.big { width: 550px; height: 280px; margin: 5px; float: right; }
.big img { width: 100%; height:100%; }
.mid { width: 270px; height: 280px; margin: 5px; float: right; overflow: hidden; }
.mid img { height: 100%; }
.small { width: 270px; height: 135px; margin: 5px; float: right; }
.small img { width:100%; height:100%; }
.category_video .small { float: left; }
.big_video { height: 100%;  margin: 5px; float: left; }
.category_video .category_content { margin-left: 5px; }
.category_content a div { width: 100%; height: 50px; position: absolute; bottom: 0; font-size: 1.5em; color: #FFF; padding: 10px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.category_content .small div { height: 35px; }
.video_content .small { float: left; }
.category_content div.video { background: rgba(0, 174, 255, .75); }
.category_content div.athlete { background: rgba(231, 39, 39, .75); }
.category_content div.event { background: rgba(0, 166, 81, .75); }
.category_content div.place { background: rgba(255, 126, 0, .75); }
.category_content div p { font-size: .8em; margin-top: .2em; }
img { border: 0; }
iframe { width: 100%; height: 100%; }


/****
    TOOLTIPS
**/
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(img/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; font-family: Tahoma; font-size: 1.1em; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/* --- Media Queries --- */
@media screen and (max-height: 768px) {
    /*Font size*/
    body { font-size: 50.5%; }
    /*Taille du bandeau*/
    .category_content div { height: 40px; padding: 7px;}
    /*Taille du OK*/
    #search_area input[type="submit"] { font-size: 1.1em; }
}

@media screen and (max-width: 960px) {
    /* --- Sprite version mini --- */
    header nav a { background-position: -150px 0px; height: 25px; width: 25px;}
    header nav ul li:nth-of-type(2) a { background-position: -150px -75px; }
    header nav ul li:nth-of-type(3) a { background-position: -150px -125px; }
    header nav ul li:nth-of-type(4) a { background-position: -150px -175px; }
    header nav ul li:nth-of-type(5) a { background-position: -150px -225px; }
    header nav ul li:nth-of-type(6) a { background-position: -150px -300px; }
    /* --- Hover Menu --- */
    header nav a:hover { background-position: -175px 0px; }
    header nav ul li:nth-of-type(2) a:hover { background-position: -175px -50px; }
    header nav ul li:nth-of-type(3) a:hover { background-position: -175px -100px; }
    header nav ul li:nth-of-type(4) a:hover { background-position: -175px -150px; }
    header nav ul li:nth-of-type(5) a:hover { background-position: -175px -200px; }
    header nav ul li:nth-of-type(6) a:hover { background-position: -175px -300px; }
    /* --- Active Menu --- */
    header nav a:active { background-position: -175px -25px}
    header nav ul li:nth-of-type(2) a:active { background-position: -175px -75px; }
    header nav ul li:nth-of-type(3) a:active { background-position: -175px -125px; }
    header nav ul li:nth-of-type(4) a:active { background-position: -175px -175px; }
    header nav ul li:nth-of-type(5) a:active { background-position: -175px -225px; }
    header nav ul li:nth-of-type(6) a:active, header nav ul li:nth-of-type(6) a.active { background-position: -175px -325px; }
}
