html, body { height: 100%; width: 100%; margin: 0; }

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    font-size: 62.5%;
    background: #000 url('img/patern_black.png');
    padding: 4em 0 5em 5em;
    position: relative;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    margin: auto;
}

header { 
    height: 80px;
}

header a { display: inline-block; float: left;}
header a.back { width: 50px; height: 50px; background: url('img/back_button.png'); margin: 1.5em 2em 0 0; }
header a.back:hover { background-position: 0 -50px; }
header a.back:active { background-position: 0 -100px; }

header h1 { display: inline-block;  font-family: 'BebasNeueRegular'; font-size: 3.4em; color: #FFF; margin: .9em 0 0 1em; padding-left: .2em; float: left; }
header h1::before { content: url('img/sprite_universes.png'); margin-right: .2em; }

/****
    HUB MENU
**/

header nav { float: left; margin-left: 3em; margin-top: 1.5em; }
header nav ul li { float: left; }
header nav a { width: 50px; height: 50px; margin-left: 1em; background: url('img/sprite_categories.png') no-repeat; }
header nav ul li:nth-of-type(2) a { background-position: 0 -50px; }
header nav ul li:nth-of-type(3) a { background-position: 0 -100px; }
header nav ul li:nth-of-type(4) a { background-position: 0 -150px; }
header nav ul li:nth-of-type(5) a { background-position: 0 -200px; }
/* --- Hover Menu --- */
header nav a:hover { background-position: -50px 0px; }
header nav ul li:nth-of-type(2) a:hover { background-position: -50px -50px; }
header nav ul li:nth-of-type(3) a:hover { background-position: -50px -100px; }
header nav ul li:nth-of-type(4) a:hover { background-position: -50px -150px; }
header nav ul li:nth-of-type(5) a:hover { background-position: -50px -200px; }
/* --- Active Menu --- */
header nav a:active { background-position: -100px 0px; }
header nav ul li:nth-of-type(2) a:active { background-position: -100px -50px; }
header nav ul li:nth-of-type(3) a:active { background-position: -100px -100px; }
header nav ul li:nth-of-type(4) a:active { background-position: -100px -150px; }
header nav ul li:nth-of-type(5) a:active { background-position: -100px -200px; }
/****
    HUB CONTENT
**/

#scrollbar1 { width: 90%; clear: both; margin: 2em 0 0 0; }
#scrollbar1 .viewport { width: 100%; height: 590px; overflow: hidden; position: relative; }
#scrollbar1 .overview { /*background-color:black;*/ color:white; width: 3400px; height: 100%; list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { /*background-color: #003D5D;*/ }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

h2 { display: table; font-family: 'BebasNeueRegular'; font-size: 3.4em; color: #FFF; margin: 0 0 0em 5px; }

.category { width: 850px; float: left; }
.category ul { width: 850px; float: left; }
.category ul li:nth-of-type(5) { clear: left; }
.big { width: 550px; height: 280px; background: #000; margin: 5px; float: left;}
.mid { width: 270px; height: 280px; background: #000; margin: 5px; float: left;}
.small { width: 270px; height: 135px; background: #000; margin: 5px; float: left;}

/****
    TOOLTIPS
**/
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(img/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; font-family: Tahoma; font-size: 1.1em; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }